<div class ="resultsBox">

  <h2 class="results"><%= @cowMax['name']%></h2>

  <img class="cowImage" style="vertical-align: center;" src="<%= @cowMax['image']%>">

  <div class="resultsBox2">
    <h2 class="resulting"><%= @cowMax['desc']%></h2>
  </div>
  
</div>

<br>
<div class="content-section-b" style="text-align: center;">
  <a style="font-family: 'Pacifico'; font-size: 45px;" href="/">Take it again!</a>
  <br>
  <a style="font-family: 'Pacifico'; font-size: 40px;" href="/resultAll">View all possible results</a>
</div>

<link href="https://fonts.googleapis.com/css?family=Merriweather|Pacifico" rel="stylesheet">
