<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="all">
  <div class="container">
    <div class="row no-gutters">

      <div class="col-md-6">
        <div class="container">
          <div class="row">
            <div class="col-md-11">
              <img class="cowsImages" src="/holstein.jpg" alt="holstein.jpg"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <p class="name">Holstein</p>
        <p class="description">You're a little unpredictable! You like to walk on the wild side and you love raising reactions out of people. You can be a bit hot-headed and unfocused, but your sense of adventure draws people in, creating solid friendships. Your lucky numbers are 33 and 7, and your biggest fear is nuclear war! Dun dun dunnn!</p>
      </div>

      <div class="col-md-6">
        <p class="name">Jersey</p>
        <p class="description"><br>"You are the party cow! While soft and approachable on the outside, you have a crazy party side! You can be flighty and judgmental, but you're extremely loyal to your friends. You are usually caught day dreaming while you're supposed to be working, and you're a weekend warrior! Your lucky numbers are 49 and 5, and your biggest fear is too much responsibility! Dun dun dunnn!"</p>
      </div>

      <div class="col-md-6">
        <div class="container">
          <div class="row">
            <div class="col-md-11">
              <img class="cowImage" src="jerseyc.jpg" alt="jerseyc.jpg"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="container">
          <div class="row">
            <div class="col-md-11">
              <img class="cowImage" src="angusc.jpg" alt="angusc.jpg"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <p class="name">Angus</p>
        <p class="description"><br>"You're an old soul who enjoys the simple things in life. Your friendships are deep, and you never leave friends behind. You feel most comfortable at home with your dog, or enjoying a book by yourself in a park. People are drawn to you because of your calming energy. You're the friend everyone can rely on. Your lucky numbers are 99 and 6, and your biggest fear is someone else's disappointment in you. Dun dun dunnn!"</p>
      </div>

      <div class="col-md-6">
        <p class="name">Brown</p>
        <p class="description"><br>"You tend to be on the softer side! You like your alone time and don't let people in easily. You can surprise people by being spontaneous, but you never get too out of control. Your lucky numbers are 24 and 3, and your biggest fear is fear itself! Dun dun dunnn!"</p><br>
      </div>

      <div class="col-md-6">
        <div class="container">
          <div class="row">
            <div class="col-md-11">
              <img class="cowImage" src="/brownc.jpg" alt="brownc.jpg"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="container">
          <div class="row">
            <div class="col-md-11">
              <img class="cowImage" src="/highlandcc.jpg" alt="highlandcc.jpg"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <p class="name">Highland</p>
        <p class="description"><br>"You walk a fine line of living an introverted and extroverted lifestyle. You easily make friends and have strong opinions. You're easy-going and funny, and have the potential to be a natural leader if you focus yourself. Your lucky numbers are 9 and 17, and your biggest fear is abandonment! Dun dun dunnn!"</p>
      </div>

      <a style="font-family: 'Pacifico'; font-size: 50px;" href="/">Home</a>

    </div>
  </div>
</div>



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>

<link href="https://fonts.googleapis.com/css?family=Merriweather|Pacifico" rel="stylesheet">
